body {
    background: rgb(93, 170, 90);
    background: radial-gradient(circle, rgb(93, 170, 90) 23%, rgb(0, 182, 9) 100%);
}

.span-result {
    font-size: 1.2em;
    color: #012b00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.board {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
}

img {
    width: 120px;
    height: 120px;
}